<layout name="layout"/>
<div class="page">

    <div class="content page-home infinite-scroll" id='vip-page' style="margin-bottom: 0">
        <!--这里是当没有收藏商品显示的内容-->
        <div class="content-padded" style="height: 100%;margin: 0;">
            <div class="develop" style="width: 100%; height: 100%; padding: 40% 0;">
                <p class="icon iconfont" style="width: 100%;text-align: center; font-size: 6rem;    color: #929292;">&#xe622;</p>
                <p style="width: 100%;text-align: center;color: #929292;font-size: .65rem;">积分兑换规则</p>
            </div>
        </div>

    </div>

</div>










