<layout name="layout"/>
<div class="page">
    <div class="content" id="oders-index">
        <div class="list-block" style="margin: .75rem 0;">
            <ul>
                <li>
                    <a href="{:U('Home/Users/gocouponEntityByPages')}" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">优惠券</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list-block" style="margin: .75rem 0;">
            <ul>
                <li>
                    <!--<a href="{:U('Home/Users/gowalletdetail')}" class="item-content">-->
                    <a class="item-content">
                        <div class="item-inner">
                            <div class="item-title" style="color: #464545;">账户余额</div>
                            <div class="item-subtitle ">￥{$data['money']}</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/Users/gorechargedetail')}" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">账户充值</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="item-content">
                        <div class="item-inner">
                            <div class="item-title" style="color: #464545;">我的积分</div>
                            <div class="item-subtitle">0</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

