<layout name="layout"/>
<div class="page">
    <div class="content page-home" id='vip-page'>
        <div class="list">
            <div class="list-group-title" style="margin: 0;">
                <p class="title-img">
                    <img src="__ROOT__/Apps/Home/View/default/img/vip.png" >
                </p>
            </div>
            <div class="card-content">
                <div class="card-content-inner">
                    <p class="color-gray"><span class="iconfont" style="font-size: 1.4rem;vertical-align: middle;margin-right: 0.4rem">&#xe6b8;</span>黑金卡特权</p>
                    <p>1.咖啡吧饮品半价</p>
                    <p>2.会员生日当天大礼包</p>
                    <p>3.每周会员特价产品</p>
                    <p>4.线上线下均享会员价</p>
                    <p>5.购物积分兑换</p>
                    <p>6.免费体验彩妆、护肤沙龙活动</p>
                </div>
                <div class="card-content-inner">
                    <p class="color-gray"><span class="iconfont" style="font-size: 1.4rem;vertical-align: middle;margin-right: 0.4rem">&#xe62d;</span>黑金卡收费</p>
                    <p>1.雁凯跨境馆VIP黑金卡,从办卡之日计，有效期一年。</p>
                    <p>费用:<em style="color:#d37b89">200元/年</em></p>

                    <p>2.雁凯跨境馆VIP黑金卡,从办卡之日计，有效期二年。</p>
                    <p>费用:<em style="color:#d37b89">400元/二年</em></p>

                    <p>3.雁凯跨境馆VIP黑金卡,从办卡之日计，有效期三年。</p>
                    <p>费用:<em style="color:#d37b89">600元/三年</em></p>
                </div>
            </div>
        </div>
    </div>
    <nav class="bar bar-tab bottom-bar vip-tabbar">
        <div class="row no-gutter">
            <div class="col-50 activevip"><a href="{:U('Home/Users/govipActivePages')}">激活黑金卡</a></div>
            <div class="col-50 handlevip"><a href="{:U('Home/Users/govipApplyPages')}">我要办理</a></div>
        </div>
    </nav>
</div>
