<layout name="layout"/>
<div class="page">
    <div class="content" id="oders-index">
        <div class="list-block" style="margin: .75rem 0;">
            <ul>
                <li>
                    <a href="javascript:;" class="item-content walletdetail">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">购物</div>
                                <div class="item-after">
                                    <span class="coffee-price">2016-10-07</span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="item-subtitle">-15</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="item-content walletdetail">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">充值</div>
                                <div class="item-after">
                                    <span class="coffee-price">2016-10-06</span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="item-subtitle">+15</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="item-content walletdetail">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">在线支付</div>
                                <div class="item-after">
                                    <span class="coffee-price">2016-10-05</span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="item-subtitle">-15</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

