<layout name="layout"/>
<div class="page">
    <div class="content native-scroll">
        <div class="content-block">
            <input type='hidden' id='id' value='{$object['addressId']}'/>
            <form name="myform" method="post" id="myform" autocomplete="off">
                <div class="list-block" style="margin:.75rem 0">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">选择省</div>
                                    <div class="item-input">
                                        <select id='areaId1' onchange='javascript:getAreaList("areaId2",this.value,0)'>
                                            <option value=''>请选择</option>
                                            <volist name="areaList" id="vo">
                                                <option value='{$vo['areaId']}' <if condition="$object['areaId1'] == $vo['areaId'] ">selected</if>>{$vo['areaName']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">选择市</div>
                                    <div class="item-input">
                                        <select id='areaId2' onchange='javascript:getAreaList("areaId3",this.value,1);'>
                                            <option value=''>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">选择区</div>
                                    <div class="item-input">
                                        <select id='areaId3'>
                                            <option value=''>请选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">详细地址</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="请填写详细地址" id="address" value="{$object['address']}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">收货人</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="请填写收货人姓名" id="userName" value="{$object['userName']}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">联系电话</div>
                                    <div class="item-input">
                                        <input type="number" placeholder="请填写联系电话" id="userPhone" value="{$object['userPhone']}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">是否设为默认</div>
                                    <div class="item-input">
                                        <label class="label-checkbox item-content" style="width:3rem;display: inline-block;float: left;">
                                            <input type="radio" id='isDefault1' name="isDefault" value='1'  <if condition="$object['isDefault'] == 1">checked</if>>
                                            <div class="item-media"><i class="icon icon-form-checkbox"></i>是</div>
                                        </label>
                                        <label class="label-checkbox item-content" style="width:3rem;display: inline-block;float: left;">
                                            <input type="radio" id='isDefault0' name="isDefault" value='0' <if condition="$object['isDefault'] == 0">checked</if>>
                                            <div class="item-media"><i class="icon icon-form-checkbox"></i>否</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            <p><a onclick="editAddress()" class="button button-fill" style="height: 1.8rem;line-height: 1.8rem"><if condition="$object['addressId'] == 0">新增地址<else/>确定修改</if></a></p>

        </div>
    </div>
</div>
<script>
    var citynames;
    <if condition="$object['addressId'] != 0">
    getAreaList('areaId2','{$object['areaId1']}',0,'{$object['areaId2']}');
    getAreaList("areaId3",'{$object.areaId2}',1,'{$object.areaId3}');
    </if>

    function getAreaList(objId,parentId,t,id){
        var params = {};
        params.parentId = parentId;
        params.type = t;
        $('#'+objId).empty();
        if(t<1){
            $('#areaId3').empty();
            $('#areaId3').html('<option value="">请选择</option>');
        }
        var html = [];
        $.ajax({
            url:'{:U("Home/Areas/queryByList")}',
            type:'post',
            data:params,
            timeout: 3000,
            success:function(json){
                html.push('<option value="">请选择</option>');
                if(json.status=='1' && json.list.length>0){
                    var opts = null;
                    for(var i=0;i<json.list.length;i++){
                        opts = json.list[i];
                        html.push('<option value="'+opts.areaId+'" '+((id==opts.areaId)?'selected':'')+'>'+opts.areaName+'</option>');
                    }
                }
                $('#'+objId).html(html.join(''));
            },
            error: function(xhr, type, textStatus) {
                $.toast('网络超时请刷新重载!');
            }
        });
    }


    function editAddress(){
        var params = {};
        params.id = $('#id').val();
        params.areaId1 = $('#areaId1').val();
        params.areaId2 = $('#areaId2').val();
        params.areaId3 = $('#areaId3').val();
        params.address = $('#address').val();
        params.userName = $('#userName').val();
        params.userPhone = $('#userPhone').val();
        params.isDefault = $("input[name='isDefault']:checked").val();
        if(params.areaId1<1){
            $.toast("请选择省份");
            return ;
        }
        if(params.areaId2<1){
            $.toast("请选择市");
            return ;
        }
        if(params.areaId3<1){
            $.toast("请选择区县");
            return ;
        }
        if(params.address < 1){
            $.toast("请填写详细地址");
            return ;
        }
        if(params.userName < 2){
           $.toast("收货人姓名长度必须大于1个汉字");
            return ;
        }
        if(params.userPhone=="" && params.userTel==""){
            $.toast("请输入手机号码");
            return ;
        }
        $.ajax({
            url:'{:U("Home/UserAddress/edit")}',
            type:'post',
            data:params,
            timeout: 3000,
            success:function(json){
                if(json.status>0){
                    $.toast('操作成功!');
                    setTimeout(function () {
                        location.href = "{:U('Home/UserAddress/queryByPage')}";
                    },1500)
                }else{
                    $.toast('填写有误请重试');
                }
            },
            error: function(xhr, type, textStatus) {
                $.toast('网络超时请刷新重载!');
            }
        });
    }
</script>