<layout name="layout"/>
<div class="page">
	<include file="./Apps/Home/View/default/public/tab-bar.html" index="active"/>
	<div class="header-nav">
		<include file="./Apps/Home/View/default/search.html" />

	</div>
	<empty name="pages['root']">
		<div class="content-padded" style="height: 100%;">
			<div class="develop" style="width: 100%; height: 100%; padding: 20% 0;">
				<p class="icon iconfont" style="width: 100%;text-align: center; font-size: 6rem;    color: #929292;">&#xe621;</p>
				<p style="width: 100%;text-align: center;color: #929292;">找不到您搜索的商品！</p>
			</div>
		</div>
	<else />
	<div class="content page-home infinite-scroll page-searchlist" id='list-page' style="top: 2.2rem;">
		<!-- 这里是页面内容区 -->
		<div class="list">
			<ul id="search-list" class="list_sort_list collect_list">
					<volist name="pages['root']" key="key" id="goods">
						<li>
							<div>
								<a class="" href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}">
									<img alt="" src="__ROOT__/{$goods['goodsThums']}">
								</a>
								<p class="txt">
									<a href="#">{$goods['goodsName']}</a>
								</p>
								<div class="price">
									<span class="pri">
			                        <em>￥{$goods['shopPrice']}</em>
			                    </span>

								</div>
								<p class="hei_si" onclick='location.href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}"'>查看详情</p>
								<!--<p class="pl"><em>5人评价</em>，<em>好评率100%</em></p>-->
							</div>
						</li>
					</volist>
			</ul>
		</div>
		<!-- 加载提示符 -->
		<div class="infinite-scroll-preloader">
			<div class="preloader"></div>
		</div>
	</div>
	</empty>
</div>
<script>
	//goods上啦加载
	$(function() {
		var  searchType = JSON.parse("<?php echo $searchType; ?>");
		var  keyWords = "<?php echo $keyWords; ?>";
		var loading = false;
		var pagecurr = 1;
		var lastPage = 1;
		function addItems(type,pcurr) {
			$.ajax({
				url:'{:U("Home/Goods/searchGoodsListlimit")}',
				type:'get',
				data:{
					searchType:searchType,
					keyWords:keyWords,
					pcurr:pagecurr
				},
				success:function(json){
					console.log(json);
					var goodslist = json.pages.root;
					if(!goodslist.length){
						$.toast("已经没有啦");
						$.detachInfiniteScroll($('.infinite-scroll'));
						// 删除加载提示符
						$('.infinite-scroll-preloader').remove();
						return;
					}else{
						var html = new Array();
						for(var i =0;i<goodslist.length;i++){
							var url= "{:U('Home/Goods/getGoodsDetails')}" + "&goodsId=" + goodslist[i].goodsId;
							html.push('<li><div class="sell-goods"><a href="'+url+'"><img alt="" src="__ROOT__/'+goodslist[i].goodsThums+'"></a>' +
									'<p class="txt"><a href="#">' +goodslist[i].goodsName +'</a></p><div class="price">' +
									'<span class="pri"><em>'+goodslist[i].shopPrice+'</em></span></div><div class="vip-price"><p>' +
									'<em>￥</em>'+goodslist[i].vipPrice+'</p></div><a class="hei_si" href="'+url+'" style="display: block;">查看详情</a></div></li>');
						}
						html = html.join("");
						$('#search-list').append(html);
						if(json.length<4){
							$.toast("已经没有啦");
							$.detachInfiniteScroll($('.infinite-scroll'));
						}
					}
				}
			});
		}

		// 预先加载1页
//        addItems(pagecurr++);
		$(function(){
			$(document).on('infinite', '.page-searchlist',function() {
				// 如果正在加载，则退出
				if (loading) return;
				// 设置flag
				loading = true;
				// 模拟1s的加载过程
				setTimeout(function() {
					// 重置加载flag
					loading = false;
					// 添加新条目
					addItems(pagecurr++);
					//容器发生改变,如果是js滚动，需要刷新滚动
					$.refreshScroller();
				}, 200);
			});
		});
	});
	//    记住当前浏览位置，返回时回到当前浏览位置
	var c=0;
	$(function (){
		var a=b=null;
		if(window.sessionStorage){
			a=parseInt(sessionStorage.getItem("top4"));
			b=parseInt(sessionStorage.getItem("size4"));
			if(a){
				$('.content').scrollTop(a);
			}
		}
	});
	// 记住当前浏览位置并存储为session
	$('.content').on('scroll',  function () {
		var tops4=$('.content').scrollTop(),
				height4=$('.content').scrollTop(),
				scrollbottom=height4-tops4;
		if(window.sessionStorage){
			sessionStorage.setItem("top4",tops4);
			sessionStorage.setItem("size4",c);
		}
	});

//	监听微信返回按钮，永远重定向到主页
	$(function(){
		pushHistory();
		var bool=false;
		setTimeout(function(){
			bool=true;
		},10 	00);
		window.addEventListener("popstate", function(e) {
			if(bool)
			{
				window.location.href = '{:U("Home/Index/index")}';
			}
			pushHistory();

		}, false);
		function pushHistory() {
			var state = {
				title: "title",
				url: "#"
			};
			window.history.pushState(state, "title", "#");
		}

	});

</script>