<layout name="layout"/>
		<div class="page">
			<header class="bar bar-nav">
				<a class="button button-link button-nav pull-left back" href="index.html">
					<span class="icon icon-left"></span>
				</a>
				<h1 class='title'>购物车</h1>
			</header>
			<include file="./Apps/Home/View/default/public/tab-bar.html" cart="active"/>
			<div class="content" id="cart-page">
				<!-- 这里是页面内容区 -->
				<div class="page-cart">
				    <i class="gwc_ic"></i>
				    <p class="p1">购物车为空哦~</p>
				    <a class="gwc_btn1" href="havecarts.html">去逛逛</a>
				</div>
			</div>
