<layout name="layout"/>
<div class="page">
    <header class="bar bar-nav">
        <h1 class="title">用户注册</h1>
    </header>
    <include file="./Apps/Home/View/default/public/tab-bar.html" set="active"/>
    <div class="content">
        <div class="page-login">
            <div class="list-block inset">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont">&#xe618;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input id="loginName" name="loginName" onpaste="return false;" type="text" placeholder="用户名/邮箱">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont">&#xe617;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input id="loginPwd" name="loginPwd" type="password" placeholder="请输入密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont">&#xe616;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input id="reUserPwd" name="reUserPwd" type="password" placeholder="请确认密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont">&#xe615;</i></div>
                            <div class="item-inner">
                                <div class="item-input input-define">
                                    <input id="authCode" type="text" placeholder="请输入验证码">
                                    <label class="img">
                                        <img style='vertical-align:middle;cursor:pointer;height:39px;' class='verifyImg' src="{:U('Admin/Base/getVerify')}" title='刷新验证码' alt="点击刷新验证码" onclick='getVerify()'/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input input-define">
                                    <div class="fl item-ifo">
                                        <label>
                                            <input class="checkbox" id="protocol" name="protocol" type="checkbox"/>
                                            我已阅读并同意
                                        </label>
                                        <a href="javascript:;" class="blue" id="protocolInfo" onclick="showXiey();">《用户注册协议》</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block login-register">
                <p><a id="registsubmit" class="button button-big button-fill" onclick="userRegist();"  data-transition='fade'>立即注册</a></p>
                <p class='text-center content-padded'>
                    <a href="{:U('Home/Users/phonelogin')}" class='pull-left'>手机登录</a>
                    <a href="{:U('Home/Orders/queryByPage')}" class='pull-right'>前去登录</a>
                </p>

            </div>
        </div>
    </div>
</div>
<script>

    function getVerify() {
        $('.verifyImg').attr('src', "{:U('Home/Users/getVerify')}" + '&rnd=' + Math.random());
    }
    function userRegist() {
        if (!document.getElementById("protocol").checked) {
            $.toast('必须同意使用协议才允许注册!');
            return;
        }
        var params = {};
        params.loginName = $.trim($('#loginName').val());
        params.loginPwd = $.trim($('#loginPwd').val());
        params.reUserPwd = $.trim($('#reUserPwd').val());
        params.userEmail = $.trim($('#userEmail').val());
        params.userTaste = $('#userTaste').val();
        //params.userQQ = $.trim($('#userQQ').val());
        params.userPhone = $.trim($('#userPhone').val());
        params.mobileCode = $.trim($('#mobileCode').val());
        params.verify = $.trim($('#authCode').val());
        params.nameType = $("#nameType").val();
        params.protocol = document.getElementById("protocol").checked ? 1 : 0;

        $.post(("{:U('Home/Users/toRegist')}"), params, function (data, textStatus) {
//                var json = WST.toJson(data);
            var json = JSON.parse(data);
            if (json.status > 0) {
                $.toast("注册成功，正在登录跳转");
                location.href = '{:U("Orders/queryByPage")}';
            } else {
                $.toast(json.msg);
            }
            getVerify();
        });
    }
    function showXiey(id){
        $.alert('请点击确定按钮同意用户协议', '用户协议');
    }
</script>