<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <title>找不到咖啡</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/iconfont.css"/>
    <link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/app.css"/>
</head>

<body>
<div class="page">
    <div class="content" id='detail-page'>
        <!-- 这里是页面内容区 -->
        <div class="page-check" id="pagecheck">
            <div class="list-block media-list">
                找不到您制定的咖啡！
            </div>
        </div>
    </div>

</div>
</div>
</div>
<script type='text/javascript' src='__ROOT__/Apps/Home/View/default/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript" src="__ROOT__/Apps/Home/View/default/js/app.js"></script>

</body>

</html>