<layout name="layout"/>
<style>
    .sender-box {
        padding: .2rem .7rem;
        font-size: .7rem;
    }
</style>
<div class="page">
    <div class="content" id="oders-entity">
        <div class="buttons-row">
            <a href="#tab1" class="tab-link button tab1 <if condition='$type eq 1'>active</if>">待付款</a>
            <a href="#tab2" class="tab-link button tab2 <if condition='$type eq 2'>active</if>">待发货</a>
            <a href="#tab3" class="tab-link button tab3 <if condition='$type eq 3'>active</if>">待收货</a>
            <a href="#tab4" class="tab-link button tab4 <if condition='$type eq 4'>active</if>">待评价</a>
            <a href="#tab5" class="tab-link button tab5">已完成</a>
        </div>
        <div class="tabs">
            <div id="tab1" class="tab <if condition='$type eq 1'>active</if>">
                <div class="content-block">
                </div>
            </div>
            <div id="tab2" class="tab <if condition='$type eq 2'>active</if>">
                <div class="content-block">
                </div>
            </div>
            <div id="tab3" class="tab <if condition='$type eq 3'>active</if>">
                <div class="content-block">
                </div>
            </div>
            <div id="tab4" class="tab <if condition='$type eq 4'>active</if>">
                <div class="content-block">
                </div>
            </div>
            <div id="tab5" class="tab">
                <div class="content-block">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Popup -->
<div class="popup popup-feedback">
    <nav class="bar bar-nav">
        <h1 class="title">商品评价</h1>
        <a id="close-popup" class="icon icon-down color-gray pull-right"></a>
    </nav>
        <div class="content page-home infinite-scroll" id='feedback-page'>
            <!--写具体商品的评价-->
            <form>
                <div class="list singlefeed">
                </div>
            </form>
            <!--总评价-->
            <div class="list multifeed">
                <dl class="list">
                    <dd>
                        <label class="react">
                            <div class="kv-line-r">
                                <ul>
                                    <li><img src=""></li>
                                </ul>
                                <h6>店铺评分</h6>
                            </div>
                        </label>
                    </dd>
                    <dd>
                        <dl>
                            <dd class="dd-padding">
                                <h6>时效评分</h6>
                                <div class="score score-face score-time">
                                    <input type="hidden" name="subkey1" value="3">
                                    <label>
                                        <input type="radio" class="score_1" value="1" name="subscore1">
                                        <span>很不满意</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_2" value="2" name="subscore1">
                                        <span>不满意</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_3" value="3" name="subscore1">
                                        <span>一般</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_4" value="4" name="subscore1">
                                        <span>满意</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_5" value="5" name="subscore1">
                                        <span>非常满意</span>
                                    </label>
                                </div>
                            </dd>
                            <dd class="dd-padding">
                                <h6>服务评分</h6>
                                <div class="score score-face score-service">
                                    <input type="hidden" name="subkey2" value="2">
                                    <label>
                                        <input type="radio" class="score_1" value="1" name="subscore2">
                                        <span>很不满意</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_2" value="2" name="subscore2">
                                        <span>不满意</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_3" value="3" name="subscore2">
                                        <span>一般</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_4" value="4" name="subscore2">
                                        <span>满意</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="score_5" value="5" name="subscore2">
                                        <span>非常满意</span>
                                    </label>
                                </div>
                            </dd>

                        </dl>
                    </dd>
                </dl>
                <div class="btn-wrapper">
                    <div class="content-block">
                        <p><a href="javascript:;" onclick="addGoodsAppraises()" class="button button-fill button-big">发布</a></p>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- end -->
<script>
//    ajax获取对应数据并生成html
    function tabgetAjax(url,tnum){
        $.ajax({
            url: url,
            type: 'get',
            success: function (json) {
                var total = json.root;
                var html = new Array();
                var htmls = '';
                if (total.length == 0) {
                    html.push('<div class="page-cart"><i class="gwc_ic"></i><p class="p1">还没有相关订单~</p>' +
                            '<a class="gwc_btn1" href="__ROOT__/index.php?m=Home&c=Index&a=index">去逛逛</a></div>');
                }
                for (var i = 0; i < total.length; i++) {
                    html.push('<div class="content-block" style="margin-bottom: .5rem"><div class="list-block list-num"><div class="list-block list-num"><ul><li class="item-content"><div class="item-media">' +
                            '<i class="icon icon-f7"></i></div><div class="item-inner"><div class="item-title"><span class="ctitlenum"><span>订单编号:</span>' + total[i].orderNo + '</span><span class="ctitlenum"><span>下单时间:</span>' + total[i].createTime + '</span>' +
                            '</div></div>' +
                            '</div></li></ul></div>');
                    for(var j=0;j<total[i].goodslist.length;j++){
                        html.push('<div class="list-block media-list"><ul><li>');
                        if(total[i].goodslist[j].catName == "咖啡馆"){
                            html.push('<a href="{:U('Home/Goods/getCoffeeGoodsDetails/')}&goodsId='+ total[i].goodslist[j].goodsId+'" class="item-content">');
                        }else {
                            html.push('<a href="{:U('Home/Goods/getGoodsDetails/')}&goodsId='+ total[i].goodslist[j].goodsId+'" class="item-content">');
                        }
                        html.push('<div class="item-media">' +
                        '<img src="' + total[i].goodslist[j].goodsThums + '" width="70" height="70"></div>' +
                                '<div class="item-inner" style="padding:.9rem .5rem"><div class="item-title-row button-dark"><div class="item-title">' + total[i].goodslist[j].goodsName + '</div></div>' +
                                '<div class="item-subtitle color-gray"><span style="font-size: .8rem;margin:0 .15rem;color: #3c3c3;" class="iconfont">&#xe665;</span>' + total[i].goodslist[j].goodsSn + '</div></div></a></li></ul></div>');
                    }
                    html.push('<div class="list-block list-num"><ul><li class="item-content"><div class="item-media"><i class="icon icon-f7"></i></div>' +
                            '<div class="item-inner"><div class="item-title">');
                    switch (parseInt(total[i].orderStatus)){
                        case -3:
                            html.push('<span>订单状态:</span><span>已拒收</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            break;
                        case -2:
                            html.push('<span>待付金额:</span><span style="color: #e4393c;">￥'+ total[i].totalMoney +'</span></div><div class="item-after go-check"><a onclick="orderCancel('+ total[i].orderId +',3)">取消</a></div>' +
                                    '<div class="item-after go-check"><a onclick="toPay('+ total[i].orderId +')">去付款</a>');
                            break;
                        case -1:
                            html.push('<span>订单状态:</span><span>已取消</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            break;
                        case 0:
                            html.push('<span>订单状态:</span><span>未受理</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            break;
                        case 1:
                            html.push('<span>订单状态:</span><span>已受理</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            break;
                        case 2:
                            html.push('<span>订单状态:</span><span>打包中</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            break;
                        case 3:
                            html.push('<span>订单状态:</span><span>配送中</span></div><div class="item-after go-check"><a onclick="orderConfirm('+ total[i].orderId +',1)">确认收货</a>');
                            if(total[i].senderName != 'undefined' && total[i].senderPhone != 'undefined') {
                                htmls = '<li>'
                                        +'<div class="sender-box">'
                                        +'<span>配送员:</span><span style="float: right;">'+total[i].senderName+'</span><br>'
                                        +'</div>'
                                        +'<div class="sender-box">'
                                        +'<span>联系电话:</span><span style="float: right;">'+total[i].senderPhone+'</span>'
                                        +'</div>'
                                        +'</li>';
                            }
                            break;
                        case 4:
                            if(total[i].isAppraises == 1){
                                html.push('<span>订单状态:</span><span>已完成</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            }else{
                                html.push('<span>订单状态:</span><span>已到货</span></div><div class="item-after go-check"><a onclick="appraiseOrder('+ total[i].orderId +')">去评价</a>');
                            }
                            break;
                        case 5:
                            html.push('<span>订单状态:</span><span>已收货</span></div><div class="item-after go-check"><a onclick="showOrder('+ total[i].orderId +')">查看</a>');
                            break;

                    }
                    html.push('</div></div></li><li>'+htmls+'</li></ul></div></div>');
                }
                html = html.join("");
                var id ='#tab'+ tnum;
                $(id).html(html);
            }
        });
    };
    var urlone = '{:U("Home/Orders/queryEntityByPage")}';
    var urltwo = '{:U("Home/Orders/queryDeliveryByPage")}';
    var urlthree = '{:U("Home/Orders/queryReceiveByPage")}';
    var urlfour = '{:U("Home/Orders/queryAppraiseByPage")}';
    var urlfive = '{:U("Home/Orders/queryCompleteOrders")}';
//    进入订单页面判断执行ajax获取相应的数据
    $(function(){
        $(".tab-link").each(function(index, value) {
            if($(this).hasClass("active")){
                var tnum = index+1;
                switch (tnum){
                    case 1:
                        tabgetAjax(urlone,tnum);
                        break;
                    case 2:
                        tabgetAjax(urltwo,tnum);
                        break;
                    case 3:
                        tabgetAjax(urlthree,tnum);
                        break;
                    case 4:
                        tabgetAjax(urlfour,tnum);
                        break;
                }
            }
        })
    });
//    点击tab按钮获取相对应数据
    $(".tab1").click(function tabOne() {
        console.log(urlone);
        tabgetAjax(urlone,1);
    })
    $(".tab2").click(function tabTwo() {
        console.log(urltwo);
        tabgetAjax(urltwo,2);
    });
    $(".tab3").click(function tabThree() {
        console.log(urlthree);
        tabgetAjax(urlthree,3);
    });
    $(".tab4").click(function tabFour() {
        console.log(urlfour);
        tabgetAjax(urlfour,4);
    });
    $(".tab5").click(function tabFive() {
        tabgetAjax(urlfive,5);
    });
//去支付ajax请求
    function toPay(id){

        $.modal({
            title:  '请选择支付方式',
            text: '',
            verticalButtons: true,
            buttons: [
                {
                    text: '微信支付',
                    onClick: function() {
                        var params = {};
                        params.orderId = id;
                        $.ajax({
                            url: '{:U("Home/Orders/checkOrderPay")}',
                            type: 'post',
                            data: params,
                            success: function (json) {
                                if(json.status==1){
                                    location.href= "{:U('Home/Payments/toPay')}"+'&orderId='+params.orderId;
                                }else if(json.status==-2){
                                    var rlist = json.rlist;
                                    var garr = new Array();
                                    for(var i=0;i<rlist.length;i++){
                                        garr.push(rlist[i].goodsName+rlist[i].goodsAttrName);
                                    }
                                    $.toast('订单中商品【'+garr.join("，")+'】库存不足，不能进行支付。', {icon: 5});
                                }else{
                                    $.toast('您的订单已支付!', {icon: 5});
                                    setTimeout(function(){
                                        location.href = '{:U("Home/Orders/queryDeliveryByPage")}';
                                    },1500);
                                }
                            }
                        });
                    }
                },
                {
                    text: '余额支付',
                    onClick: function() {
                        toBalancePay();
                    }
                }
            ]
        });
    }
//  确认收货
var postData= {};
    function orderConfirm(id,type){
        if(type==1){
            $.confirm('您确定收货吗?',
                    function () {
                        $.showIndicator();
                        setTimeout(function () {
                            $.hideIndicator();
                            $.ajax({
                                url: '{:U("Home/Orders/orderConfirm")}',
                                type: 'post',
                                data: {orderId:id,type:type},
                                success: function (data) {
                                    if(data.status>0){
                                        $.toast('☺确认收货成功,评价一下吧');
                                        setTimeout(function () {
                                            $.popup('.popup-feedback');
//                                            确定收货成功后弹出评价
                                            $(function (){
                                                $.ajax({
                                                    url:'{:U("Home/GoodsAppraises/writeAppraise")}'+'&orderId='+id,
                                                    type:'get',
                                                    timeout: 3000,
                                                    success:function(json){
                                                        var goodsList = json.goodsList;
                                                        var order = json.order;
                                                        var html = new Array();
                                                        postData.orderId = order.orderId;
                                                        postData.shopId = order.shopId;
                                                        if(goodsList.length == 0){
                                                            html.push('<div class="singlelist">没有需要评价的商品</div>')
                                                        }
                                                        postData.goodsId = [];
                                                        postData.goodsAttrId = [];
                                                        for(var i=0;i<goodsList.length;i++){
                                                            postData.goodsId.push(goodsList[i].goodsId);
                                                            postData.goodsAttrId.push(goodsList[i].goodsAttrId)
                                                            html.push('<div class="singlelist"><div class="oc-info"><div class="oc-info-l">' +
                                                                    '<img src="' + goodsList[i].goodsThums + '" width="40"></div>' +
                                                                    '<div class="oc-info-r"><h2>'+ goodsList[i].goodsName +'</h2><div> ￥<strong class="red">'+ goodsList[i].ogoodsPrice +'</strong></div></div></div>' +
                                                                    '<dl class="list"><dd class="dd-padding"><h6>商品评分</h6><div class="score score-goods"><label>' +
                                                                    '<input type="radio" class="score_1" value="1" name="subscore_'+ i +'"><span>很不满意</span></label><label><input type="radio" class="score_2" value="2" name="subscore_'+ i +'">' +
                                                                    '<span>不满意</span></label><label><input type="radio" class="score_3" value="3" name="subscore_'+ i +'"><span>一般</span></label><label><input type="radio" class="score_4" value="4" name="subscore_'+ i +'">' +
                                                                    '<span>满意</span></label><label><input type="radio" class="score_5" value="5" name="subscore_'+ i +'"><span>非常满意</span></label></div></dd></dl><dl class="list">' +
                                                                    '<dd><dl><dd class="dd-padding"><textarea class="content_'+ i +'" name="comment" value="999" class="input-weak" placeholder="说说对这个商品的描述吧！"></textarea></dd></dl></dd></dl></div>');

                                                        }
                                                        html = html.join("");
                                                        $(".singlefeed").html(html);
                                                    },
                                                    error: function(xhr, type, errorThrown) {
                                                        $.toast('网络超时请刷新重载!');
                                                    }
                                                });
                                            });
                                            setTimeout(function(){
                                                $(".score label").click(function () {
                                                    $(this).find('span').css('color', '#119cff');
                                                    var vl = $(this).find('input').val();
                                                    var t = $(this).index() + 1;
                                                    console.log(vl);
                                                    console.log(t);
                                                });
                                            },3000);

                                        },2000)
                                    }else if(data.status==-1){
                                        $.toast('操作失败，订单状态已发生改变，请刷新后再重试 !');
                                    }else{
                                        $.toast('操作失败，请与商城管理员联系 !');
                                    }
                                }
                            });
                        }, 1200);
                    }
            );
        }
    }
//暂不评价
$("#close-popup").click(function () {
    $.closeModal('.popup-feedback');
    setTimeout(function (){
        location.reload();
    },500);
})
//保存评价
function addGoodsAppraises(){
    var formData = $("form").serialize();
    //    字符串截取
    var arr = formData.split('&'), arr1 = [], arr2 = [];
    for(var i=0; i<arr.length; i++){
        if(arr[i].substring(0, 8) == 'subscore') {
            arr1.push(arr[i].substring(11, 12));
        }
    }
    if(arr1.length == 0){
        $.toast("您还有商品没选择评分!");
        return false;
    }
    postData.goodsScore = arr1;
    postData.content = [];
    var textCon = $("textarea[name='comment']");
    for(var i=0;i<textCon.length;i++){
        if(textCon[i].value == ''){
            $.toast("您还没有填写商品描述哦!");
            return false;
        }
        postData.content.push(textCon[i].value);
    }
    var arrChk2=$("input[name='subscore1']:checked");
    if(!arrChk2.val()){
        $.toast("您还没有选择时效评分哦!");
        return false;
    }
    $(arrChk2).each(function() {
        var scoreTime = this.value;
        postData.timeScore = scoreTime;
    });
    var arrChk3=$("input[name='subscore2']:checked");
    if(!arrChk3.val()){
        $.toast("您还没有选择服务评分哦!");
        return false;
    }
    $(arrChk3).each(function() {
        var scoreService = this.value;
        postData.serviceScore = scoreService;
    });
    $.ajax({
        url:'{:U("Home/GoodsAppraises/addGoodsAppraises_v1")}',
        type:'post',
        data:postData,
        timeout: 30000,
        success:function(json){
            if(json.status==1){
                $.toast('评价成功');
                setTimeout(function (){
                    location.reload();
                },1000);
            }else if(json.status==-1){
                $.toast(json.msg);
            }else{
                $.toast('评价失败，请刷新后再重试 !');
            }
        },
        error: function(xhr, type, errorThrown) {
            $.toast('网络故障请刷新重载!');
        }
    });
}
//去评价页面跳转
function appraiseOrder(id){
    var id = id;
    location.href = '{:U("Home/GoodsAppraises/toAppraises")}'+'&orderId='+id;
}
//查看订单详情
function showOrder(id){
    var id = id;
    location.href = '{:U("Home/Orders/getOrderDetails")}'+'&orderId='+id;
}
//取消订单
function orderCancel(id,type){
    if(type==3){
        $.confirm('您确定取消该订单吗?',
                function () {
                    $.showIndicator();
                    setTimeout(function () {
                        $.hideIndicator();
                        $.ajax({
                            url: '{:U("Home/Orders/orderCancel")}',
                            type: 'post',
                            data: {orderId:id},
                            success: function (data) {
                                if(data.status>0){
                                    $.toast('☺取消订单成功');
                                    setTimeout(function () {
                                        location.reload();
                                    },2000);
                                }else if(data.status==-1){
                                    $.toast('操作失败，请刷新后再重试 !');
                                }else{
                                    $.toast('操作失败，请与商城管理员联系 !');
                                }
                            }
                        });
                    }, 2000);
                }
        );
    }else {
        $.toast('该订单无法取消...');
    }
}

function checkSms() {
    $.confirm('会员请先进行短信验证,更加安全',
        function () {
            var phone = "{:session('WST_USER.userPhone')}";
            timeCalter();
            $.ajax({
                url:'{:U("Home/Users/sms")}',
                type:'post',
                data:{
                    tel:phone
                },
                success:function(json){
                    console.log(json);
                    if(json.code == 0){
                        $.alert(json.msg);
                        return;
                    }
                    sendMsgAction('', 0);
                },
                error:function(json){
                    console.log(json);
                }
            });
        },
        function () {
            return false;
        }
    );
}

//发起短信验证
function sendMsgAction(value, count) {
    if(value == '') {
        $.prompt('<p id="phone-text">已向您手机号{$Phone}发送支付验证码</p>',
            function (value) {
                reViewCode(value, count);
            },
            function (value) {
                return false;
            }
        );
    }else {
        $.prompt('请重新输入验证码',
            function (value) {
                reViewCode(value, count);
            },
            function (value) {
                return false;
            }
        );
    }
}

//验证码真伪
function reViewCode(value, count) {
    if (count < 2) {
        $.ajax({
            url: '{:U("Home/Users/true_sms")}',
            type: 'post',
            data: {
                tel: "{$rs['userPhone']}",
                code: value,
                id: "{$rs['userId']}"
            },
            success: function (json) {
                if (json.code == 1) {
                    toBalancePay();
                } else {
                    $.alert(json.msg);
                    count += 1;
                    sendMsgAction(value, count);
                }
            },
            error: function (json) {
                alert(json.msg);
            }
        });
    } else {
        $.alert('您已输错超过三次，请重新获取验证码！');
        return false;
    }
}

//计时器
function timeCalter() {
    var second = 60;
    var text = $('#phone-text').length, btn = $('#getVer');
    setTimeout(function() {
        var f = setInterval(function() {

            if($('#no-more-1').length == 0) {
                $('body').append('<input type="hidden" id="no-more-1" index="0"/>');
            }
            $('#no-more-1').attr('index', '0');

            if(second >= 0) {
                if(text == 0) {
                    $('#phone-text').append('<span id="content"></span>');
                    text = $('#phone-text').length;
                }

                if($('#no-more-1').attr('index') == '0' && $('#blPayWay').attr('checked') == 'checked') {
                    btn.css('background', '#bbb')
                            .removeAttr('onclick').html(second+' 秒后可重新发送');
                }else {
                    btn.css('background', '#0894ec').attr('onclick', 'submitOrder()').html('生成订单');
                }
                $('#content').html('('+second+'秒后可重新发送)');
                $('#no-more-1').val(second);
                second -= 1;

            }else {
                $('#phone-text').html('已向您手机号{$Phone}发送支付验证码');
                btn.css({
                    'background': '#0894ec',
                }).attr('onclick', 'checkSms()').html('生成订单');
                $('#no-more-1').attr('index', '999');
                window.clearInterval(f);
            }
        }, 1000);
    }, 10);
}

//余额支付
function toBalancePay() {
    var params = {};
    params.orderId = id;
    $.ajax({
        url: '{:U("Home/Orders/checkOrderPay")}',
        type: 'post',
        data: params,
        success: function (json) {
            if(json.status==1){
                location.href = "{:U('Home/Payments/directBalancePay')}"+'&orderId='+params.orderId;
            }else if(json.status==-2){
                var rlist = json.rlist;
                var garr = new Array();
                for(var i=0;i<rlist.length;i++){
                    garr.push(rlist[i].goodsName+rlist[i].goodsAttrName);
                }
                $.toast('订单中商品【'+garr.join("，")+'】库存不足，不能进行支付。', {icon: 5});
            }else{
                $.toast('您的订单已支付!', {icon: 5});
                setTimeout(function(){
                    location.href = '{:U("Home/Orders/queryDeliveryByPage")}';
                },1500);
            }
        }
    });
}
</script>