<layout name="layout"/>
		<div class="page">
			  <div class="content" id="oders-index">
			    <div class="list-block" style="margin: .75rem 0;">
			      <ul>
			        <li>
			          <a href="{:U('Home/Orders/goqueryEntityByPages')}" class="item-link item-content">
			            <div class="item-inner">
			              <div class="item-title">实物订单</div>
			            </div>
			          </a>
			        </li>
			        <li>
			          <a href="{:U('Home/Orders/getCoffeeOrderDetails')}" class="item-link item-content">
			            <div class="item-inner">
			              <div class="item-title">咖啡订单</div>
			            </div>
			          </a>
			        </li>
			      </ul>
			    </div>
			  </div>
		</div>

