<layout name="layout"/>
<div class="page">
    <include file="./Apps/Home/View/default/public/tab-bar.html" classify="active"/>
    <div class="content page-home" id='home-page'>
        <!-- 这里是页面内容区 -->
        <div class="list">
            <ul class="list_sort_list collect_list">
                <li>
                    <div class="sell-goods">
                        <a class="" href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}">
                            <img alt="" src="__ROOT__/{$goods['goodsThums']}">
                        </a>
                        <p class="txt">
                            <a href="#">{$goods['goodsName']}</a>
                        </p>
                        <div class="price">
									<span class="pri">
			                        <em>￥{$goods['shopPrice']}</em>
			                    </span>
                        </div>
                        <div class="vip-price">
                            <p><em>￥</em>{$goods['vipPrice']}</p>
                        </div>
                        <p class="hei_si">立即购买</p>
                        <!--<p class="pl"><em>5人评价</em>，<em>好评率100%</em></p>-->
                    </div>
                </li>
                <li>
                    <div class="sell-goods">
                        <a class="" href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}">
                            <img alt="" src="__ROOT__/{$goods['goodsThums']}">
                        </a>
                        <p class="txt">
                            <a href="#">{$goods['goodsName']}</a>
                        </p>
                        <div class="price">
									<span class="pri">
			                        <em>￥{$goods['shopPrice']}</em>
			                    </span>
                        </div>
                        <div class="vip-price">
                            <p><em>￥</em>{$goods['vipPrice']}</p>
                        </div>
                        <p class="hei_si">立即购买</p>
                        <!--<p class="pl"><em>5人评价</em>，<em>好评率100%</em></p>-->
                    </div>
                </li>
                <li>
                    <div class="sell-goods">
                        <a class="" href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}">
                            <img alt="" src="__ROOT__/{$goods['goodsThums']}">
                        </a>
                        <p class="txt">
                            <a href="#">{$goods['goodsName']}</a>
                        </p>
                        <div class="price">
									<span class="pri">
			                        <em>￥{$goods['shopPrice']}</em>
			                    </span>
                        </div>
                        <div class="vip-price">
                            <p><em>￥</em>{$goods['vipPrice']}</p>
                        </div>
                        <p class="hei_si">立即购买</p>
                        <!--<p class="pl"><em>5人评价</em>，<em>好评率100%</em></p>-->
                    </div>
                </li>
                <li>
                    <div class="sell-goods">
                        <a class="" href="{:U('Home/Goods/getGoodsDetails/',array('goodsId'=>$goods['goodsId']))}">
                            <img alt="" src="__ROOT__/{$goods['goodsThums']}">
                        </a>
                        <p class="txt">
                            <a href="#">{$goods['goodsName']}</a>
                        </p>
                        <div class="price">
									<span class="pri">
			                        <em>￥{$goods['shopPrice']}</em>
			                    </span>
                        </div>
                        <div class="vip-price">
                            <p><em>￥</em>{$goods['vipPrice']}</p>
                        </div>
                        <p class="hei_si">立即购买</p>
                        <!--<p class="pl"><em>5人评价</em>，<em>好评率100%</em></p>-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


